/* Generics */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: grey;
}

section{
    padding-left: 60px;
    margin-bottom: 50px;
}

/* Utilities */

.container{
    background-color: white;
    height: 800px;
    width: 800px;
    margin: 0 auto;
    border-radius: 10px;
}

.entity{
    display: inline-block;
    font-size: 20px;
    transform: scale(1, .7);
    text-align: center;
    border-radius: 50%;
}


.button{
    color: white;
    padding: 5px 12px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
        
}

/* Header */

.logo{
    height: 90px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: white;
}

img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    
}

h1{
    display: inline;
    font-size: 38px;
    vertical-align: middle;
    
}

/* Main */


/* Head section */
#head-todo{
    height: 70px;
    padding-top: 15px;
    border-bottom: 2px solid grey;
    
}

.button-blue{
    border: 2px solid #47adf1;
    background-color: #47adf1;
    color: white;
    padding: 10px 24px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}


.button-grey{
    border: 2px solid grey;
    background-color: white;
    color: grey;
    padding: 10px 24px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}


/* Task Section */


.task{
    color: #444851;
}

.task-titles{
    margin-bottom: 10px;
}



.task-subtitles{
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;

}

/* Entities */

.entity.check{
    color: #77c9b6;
    border: 2px solid #77c9b6;
}

.entity.cross{
    color: #ec625c;
    border: 2px solid #ec625c;
}

/* Buttons */

.button.editorial{
        border: 2px solid #47adf1;
    background-color: #47adf1;
}

.button.qi{
    border: 2px solid #9c72e4;
    background-color: #9c72e4;
}

.button.rec{
    border: 2px solid #64c0a9;
    background-color: #64c0a9;
}

.button.mobile{
    border: 2px solid #f29e33;
    background-color: #f29e33;
}

.button.web{
    border: 2px solid #d863a1;
    background-color: #d863a1;
}

.button.sales{
    border: 2px solid #b0c926;
    background-color: #b0c926;
}