/* Generics */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */

header{
    height: 100px;
    padding: 15px;
}

img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    
}

h1{
    display: inline;
    font-size: 38px;
    vertical-align: middle;
    
}

/* Main */
main{
    background-color: grey;
}

.container{
    background-color: white;
}